[submodule "day1_prereq/Turbin3_Rust_prereq"]
	path = day1_prereq/Turbin3_Rust_prereq
	url = https://github.com/0xsterat/Turbin3_Rust_prereq.git
[submodule "day1_prereq/Turbin3_Typescript_prereq"]
	path = day1_prereq/Turbin3_Typescript_prereq
	url = https://github.com/0xsterat/Turbin3_Typescript_prereq.git
[submodule "week1.1/SPL_token_mint.git"]
	path = week1.1/SPL_token_mint.git
	url = https://github.com/0xsterat/SPL_token_mint.git
[submodule "week2/vault"]
	path = week2/vault
	url = https://github.com/0xsterat/vault.git
[submodule "week2/escrow"]
	path = week2/escrow
	url = https://github.com/0xsterat/escrow.git
